{{!--index.handlbars is set up to have a template for handlebars to render into --}}
<div class="container">
    <h1>Eat Da Burger!!!</h1>
    <p>This is an sql and node application in which you make burgers, and eat burgers!</p>
    <h2>Time to make a burger!</h2>
</div>